.profile {
  width: 150px;
  margin: 2rem 0;
}

.name {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.subtitle {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.description {
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.015em;
  margin: 1.5rem 0;
}
